// animation du Logo du banner avec un mouvement de flotement

.logoBannerFlottement {
  animation: flottementLogoBanner 3s linear infinite;
}

.logoBanner {
  // position: absolute;
  // background-color: blue;
  transform: translateY(-50%);
  margin-top: 15% !important;
  width: 90% !important;
}

// .logoBanner {
//   animation: flotter 4s infinite;
// }

// @keyframes flotter {
//   0%,
//   50%,
//   100% {
//     transform: translate(0, 0);
//     /* Position initiale, immobile */
//   }
//   20% {
//     transform: translate(90px, -30px);
//   }
//   40% {
//     transform: translate(40px, -50px);
//   }
//   80% {
//     transform: translate(60px, -80px);
//   }
// }
