// //  /* Animation des Titres */

@import "../mixins/_keyFrame";

$animation-speed: 1s;

.Animetitre {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity $animation-speed, transform $animation-speed;

  animation: AnimationVersLeHaut $animation-speed ease forwards;
}

.animateTitle {
  opacity: 1;
  transform: translateY(0);
}
