/* CSS pour le menu burger */

.boutonMenu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 120px;

  span {
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: black;
      transition: transform 0.5s ease-in-out;
    }

    &::after {
      transform: translateY(10px);
    }
    &::before {
      transform: translateY(-10px);
    }
  }

  &.active {
    span {
      background-color: transparent;
      &::before {
        transform: translateY(0px) rotateZ(45deg);
      }
      &::after {
        transform: translateY(0px) rotateZ(-45deg);
      }
    }
  }
}

.menu-items {
  display: none;
  background-color: #fff5e9;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }

  ul {
    text-align: center;
    height: 57%;
    margin: 0;
    padding: 0;
  }

  li {
    text-align: center;
  }

  li a {
    text-decoration: none !important;
    list-style-type: none !important;
    font-size: 45px;
    font-weight: bold;
    line-height: 104px;

    &:hover {
      filter: drop-shadow(0px 0px 5px #ff5c00);
      -webkit-filter: drop;
    }
  }

  img {
    margin: auto;
    display: flex;
  }
}

.menuParagraphe {
  text-align: center;
  font-size: 25px !important;
  padding-top: 100px !important;
}

/* Images dans le menu-Burger */
/* Ajoutez ici les styles pour les images du menu burger */

/* Animation Flottement des chats */
#catMenuBlack,
#catMenuOrange,
#catMenuBleu {
  animation: flottementChat 3s infinite alternate;
}

/* Media Queries */
@media (max-width: 1100px) {
  #catMenuBlack,
  #fleurMenuFlower,
  #fleurMenuHibiscus,
  #fleurMenuSunFlower {
    display: none;
  }
}

@media (max-width: 850px) {
  #catMenuBleu,
  #catMenuOrange,
  #fleurMenuOrchid,
  #fleurMenuRandom {
    display: none;
  }
}

/* Ajoutez ici les styles pour les media queries */

/* Mixin "factoriser" de la keyframes modèle */
@mixin keyFrames($hauteur, $nomKeyFram) {
  @keyframes #{$nomKeyFram} {
    0% {
      transform: translateY($hauteur);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* KeyFrames pour les animations */
@include keyFrames(-200px, AnimationVersBas);
@include keyFrames(200px, AnimationVersHaut);
@include keyFrames(80px, AnimationLogo);

/* KeyFrame pour l'animation des Titres */
@include keyFrames(100%, KframeAnimateTitre1);
@include keyFrames(150%, KframeAnimateTitre2);

/* Keyframe pour faire tourner les Fleurs */
@keyframes RotationFleurs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes pour les animations de Flottement */
@keyframes flottementChat {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Ajoutez ici d'autres styles pour les keyframes */
